@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
    min-height: 0;
}

#waybar{
	background: alpha(@on_primary_fixed, 0.76);
	color: @primary;
}

#workspaces {
    border-radius: 1px;
    padding: 3px 3px;
    margin: 0px 10px;
}
#workspaces button {
    padding: 0 5px;
    color: alpha(@primary, 0.3);
}

#workspaces button.active {
    color: @primary;
}

#clock {
    color: @primary;
    padding: 0 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
